## Merging hourly taxi, weather, and incoming passenger data for 2017

### Count of Taxi Pickups per hour

In [1]:
import numpy as np
from tqdm import tqdm
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

In [2]:
def taxi_resample(path):
    taxi_df = pd.read_csv(path, compression='gzip')
    taxi_df["tpep_pickup_datetime"] = pd.DatetimeIndex(taxi_df.tpep_pickup_datetime).tz_localize('America/New_York')
    taxi_df["tpep_dropoff_datetime"] = pd.DatetimeIndex(taxi_df.tpep_dropoff_datetime).tz_localize('America/New_York')
    taxi_df.set_index("tpep_pickup_datetime", inplace = True)
    taxi_hourly = taxi_df.resample('H')['passenger_count'].count()
    taxi_hourly_df = taxi_hourly.to_frame()
    taxi_hourly_df.rename(columns={'passenger_count':'pickup_count'}, inplace = True)
    return taxi_hourly_df

In [3]:
taxi_hourly_df = taxi_resample('../clean_data/TaxiData_Jan17-Jun17.gz')

### Weather Data

In [4]:
def clean_weather(path):
    weather_df = pd.read_csv(path)
    weather_df["date"] = pd.DatetimeIndex(pd.to_datetime(weather_df.dt, unit="s")) \
                    .tz_localize('UTC').tz_convert('America/New_York')
    weather_df.drop_duplicates(['date'], keep='first', inplace = True)
    weather_df.set_index("date", inplace=True)
    
    weather_df.drop(["dt", "dt_iso", "city_id", "city_name", "lat", "lon", "weather_icon", "grnd_level", \
                 "sea_level", "clouds_all", "weather_id", "rain_1h", "rain_3h", "rain_24h", \
                 "rain_today", "snow_1h", "snow_3h", "snow_24h", "snow_today"], axis=1, inplace=True)
    return weather_df

In [5]:
weather_df = clean_weather("../clean_data/weather_NY.csv")

### Merge Taxi and Weather Data

In [6]:
taxi_weather = taxi_hourly_df.merge(right=weather_df, how='left', left_index=True, right_index=True)
taxi_weather.index = taxi_weather.index.tz_convert('America/New_York')

In [7]:
taxi_weather_filled = taxi_weather.fillna(method='ffill')

In [8]:
taxi_weather_filled.head()

,pickup_count,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,weather_main,weather_description
tpep_pickup_datetime,,,,,,,,,,
2017-01-01 00:00:00-05:00,53,279.07,277.15,280.15,1013.0,45.0,2.0,250.0,Clouds,overcast clouds
2017-01-01 01:00:00-05:00,3,279.14,277.15,281.15,1013.0,45.0,2.0,260.0,Clouds,overcast clouds
2017-01-01 02:00:00-05:00,0,279.21,276.15,283.15,1012.0,45.0,3.0,270.0,Rain,light rain
2017-01-01 03:00:00-05:00,4,279.43,277.15,285.15,1013.0,45.0,3.0,270.0,Clouds,overcast clouds
2017-01-01 04:00:00-05:00,4,279.50,276.15,286.15,1014.0,42.0,4.0,280.0,Clouds,scattered clouds

### Passenger seat data

In [9]:
def clean_seats(path):
    seats_per_hour = pd.read_csv(path, header=None)
#     print(seats_per_hour.head())
    seats_per_hour.columns = ['Time', 'Passengers']
    seats_per_hour["Time"] = pd.DatetimeIndex(seats_per_hour.Time)
    seats_per_hour.set_index("Time", inplace = True)

    #To get rid of errors surrounding daylight savings time. All of taxi pickups and passenger counts are NaNs for these times
    seats_per_hour = seats_per_hour.drop([pd.Timestamp('2016-03-13 02:00:00'), pd.Timestamp('2016-11-06 01:00:00'), pd.Timestamp('2017-03-12 02:00:00')])
    seats_per_hour.index = seats_per_hour.index.tz_localize('America/New_York')
    return seats_per_hour

In [10]:
seats_per_hour = clean_seats("../clean_data/seats_per_hour.csv")

### Merging all dataframes

In [11]:
merged_df = pd.merge(left=taxi_weather_filled, right=seats_per_hour, how='inner', left_index=True, right_index=True)

In [12]:
merged_df.head(20)

,pickup_count,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,weather_main,weather_description,Passengers
2017-01-01 00:00:00-05:00,53,279.07,277.15,280.15,1013.0,45.0,2.0,250.0,Clouds,overcast clouds,NaN
2017-01-01 01:00:00-05:00,3,279.14,277.15,281.15,1013.0,45.0,2.0,260.0,Clouds,overcast clouds,150.0
2017-01-01 02:00:00-05:00,0,279.21,276.15,283.15,1012.0,45.0,3.0,270.0,Rain,light rain,NaN
2017-01-01 03:00:00-05:00,4,279.43,277.15,285.15,1013.0,45.0,3.0,270.0,Clouds,overcast clouds,NaN
2017-01-01 04:00:00-05:00,4,279.50,276.15,286.15,1014.0,42.0,4.0,280.0,Clouds,scattered clouds,NaN
2017-01-01 05:00:00-05:00,6,279.21,276.15,286.15,1015.0,48.0,2.0,280.0,Clouds,overcast clouds,NaN
2017-01-01 06:00:00-05:00,4,278.80,276.15,286.15,1016.0,52.0,2.0,290.0,Clear,sky is clear,NaN
2017-01-01 07:00:00-05:00,35,277.84,275.15,281.15,1017.0,55.0,2.0,220.0,Clouds,scattered clouds,272.0
2017-01-01 08:00:00-05:00,101,277.30,274.15,281.15,1018.0,64.0,2.0,220.0,Clear,sky is clear,1130.0
2017-01-01 09:00:00-05:00,147,277.98,276.15,281.15,1020.0,48.0,2.0,220.0,Clouds,scattered clouds,564.0
2017-01-01 10:00:00-05:00,293,279.60,277.15,281.15,1021.0,48.0,4.0,320.0,Clouds,scattered clouds,1465.0
2017-01-01 11:00:00-05:00,250,280.45,278.15,281.15,1022.0,42.0,5.0,340.0,Clouds,scattered clouds,572.0
2017-01-01 12:00:00-05:00,260,280.76,279.15,282.15,1022.0,36.0,7.0,310.0,Clear,sky is clear,772.0
2017-01-01 13:00:00-05:00,296,281.22,279.15,282.15,1022.0,33.0,3.0,296.0,Clear,sky is clear,1475.0
2017-01-01 14:00:00-05:00,337,281.30,280.15,282.15,1023.0,31.0,3.0,296.0,Clear,sky is clear,1514.0
2017-01-01 15:00:00-05:00,383,281.61,280.15,283.15,1023.0,31.0,4.0,320.0,Clear,sky is clear,1774.0
2017-01-01 16:00:00-05:00,437,281.61,280.15,283.15,1025.0,31.0,2.0,350.0,Clear,sky is clear,1456.0
2017-01-01 17:00:00-05:00,525,280.84,279.15,282.15,1026.0,35.0,2.0,350.0,Clear,sky is clear,2033.0
2017-01-01 18:00:00-05:00,368,278.44,274.15,281.15,1027.0,64.0,1.0,310.0,Clear,sky is clear,780.0
2017-01-01 19:00:00-05:00,385,276.72,272.15,281.15,1028.0,74.0,1.0,310.0,Clear,sky is clear,1201.0

In [13]:
merged_df.to_csv("../clean_data/2017_combined_data.csv")